<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guest Book</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h3>GUEST BOOK</h3>
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/read-note">
          <li>Read Note</li>
        </a>
        <a href="/leave-note">
          <li>Write Note</li>
        </a>
      </ul>
    </header>
    <main>
      <div class="greeting">
        <h1>Welcome to Guest Book.</h1>
        <p>
          This provides you a note book that you can write and read notes left
          by other's.
        </p>
      </div>
      <div class="buttons">
        <a href="/leave-note">
          <button>Write</button>
        </a>
        <a href="/read-note">
          <button>Read</button>
        </a>
      </div>
    </main>
  </body>
</html>
