<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guest Book</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h3>GUEST BOOK</h3>
    <ul>
      <a href="/">
        <li>Home</li>
      </a>
      <a href="/read-note">
        <li>Read Note</li>
      </a>
      <a href="/leave-note">
        <li>Write Note</li>
      </a>
    </ul>
  </header>
  <main>
    <form action="/read-note" method="post">
      <input type="text" class="username" name="user" placeholder="your username (fake name)">
      <input type="text" class="title" name="title" placeholder="title">
      <textarea placeholder="note" name="note" rows="15" cols="40"></textarea>
      <button class="post-button" type="submit">POST</button>
    </form>
  </main>
</body>
</html>